:root {
    --color-background: #20232a;
    /*background: rgb(32, 35, 42)*/
    --color-background-secondary: #282c34;
    /*background-secondary: rgb(40, 44, 52)*/
    --color-main: #fff;
    /*color-main: rgb(255, 255, 255)*/
    --color-accent: #61dafb;
    /*accent: rgb(97, 218, 251)*/
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background);
    font-family: Arial;
    font-size: 12pt;
    color: var(--color-main);
    user-select: none;
}