.key {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    background: var(--color-main);
    color: var(--color-background-secondary);
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    transition: margin 0.3s ease-in-out;
    opacity: 0;
    box-shadow: 0 0 4px 2px var(--color-background-secondary);

    &--empty {
        visibility: hidden;
        cursor: default;
    }

    &--show {
        animation: key-show 0.7s ease-in-out forwards;
    }

    &--visible {
        opacity: 1;
    }
}

@keyframes key-show {
    0% {
        opacity: 0;
        transform: scale(50%);
    }
    15% {
        opacity: 1;
    }
    40% {
        transform: scale(120%);
    }

    60% {
        transform: scale(90%);
    }

    80% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}