.key {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    background: var(--color-main);
    color: var(--color-background-secondary);
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;

    &--empty {
        opacity: 0;
        cursor: default;
    }
}